*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: #F3E9DC;
}
#interface{
    width:100%;
}
#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
}
#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}
#interface .navigation .search i{
    margin-right: 15px;
}
#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}
#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400;
}
#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.i_name{
    color:#444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
}
.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* gap:100px; */
}
.values .val_box{
    background: #fff;
    width: 350px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.values .val_box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}
.values .val_box:nth-child(1) i{
    /* background: #594ef7; */
    background: #cb8377;
}
.values .val_box:nth-child(2) i{
    /* background: #444a53; */
    background: #cb8377;
}
.values .val_box:nth-child(3) i{
    background: #cb8377;
}
.values .val_box span{
    font-size: 18px;
    font-weight: bold;
}
.values .val_box p{
    font-size: 15px;
    color:#444a53;
}
.board{
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}
.board img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    background: #cb8377;
}
.board p{
    font-size: 14px;
    font-weight: 600;
}
.board .productTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
table{
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid #eef0f3;
}
thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #F9FAFB;
    text-align: start;
    padding: 15px;
}
tbody tr td{
    padding: 10px 15px;
}
.availability span{
    background: #9efda6;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}
.add button{
    font-size: 14px;
    font-weight: 600;
    background: #cb8377;
    color:#2b2b2b;
    border: 1px solid #2b2b2b;
    padding: 8px 16px;
    border-radius: 4px;
}