<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="Cart.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main>
        <div class="cart_page">
            <div class="cart_header">
                <div class="header_product">Product</div>
                <div class="header_quantity">Quantity</div>
                <div class="header_subtotal">Subtotal</div>
            </div>
            <div class="cart_info"></div>

            <div class="price_detail">
                <div class="price_row">
                    <div class="price_label">Subtotal</div>
                    <div class="subtotal_price">$0</div>
                </div>
                <div class="price_row">
                    <div class="price_label">Tax</div>
                    <div>$100</div>
                </div>
                <div class="price_row">
                    <div class="price_label">Delivery Fee</div>
                    <div>$250</div>
                </div>
                <div class="price_row">
                    <div class="price_label">Total</div>
                    <div class="total_price">$0</div>
                </div>
            </div>
        </div>
    </main>
    <script src="Cart.js"></script>
</body>
</html> -->














<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Cart.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main>
        <div class="cart_page">
            <table>
                <tr>
                    <th>Product</th>
                    <!-- <th>Quantity</th>
                    <th>Subtotal</th> -->
                </tr>
                <tr>
                    <td>
                        <div class="cart_info"></div>
                    </td>
                    <!-- <td><input type="number" value="1" class="cart_product_quantity"></td>
                    <td><div class="sub_price">$60</div></td> -->
                </tr>
            </table>

            <div class="price_detail">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td><div class="subtotal_price">$0</div></td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td>Delivery Fee</td>
                        <td>$250</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td><div class="total_price">$0</div></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
    <script src="Cart1.js"></script>
</body>
</html>